# Python cache
__pycache__/
*.py[cod]

# macOS
*.DS_Store

# Vim swap
*.swp

# Virtual environments
/env/
/venv/

# MyPy cache
.mypy_cache/

# Build outputs
/build/
/site/

# Local maintenance guide
/update-notes.md

# Optional: IDE settings
.vscode/
/.idea/
