# Python cache
__pycache__/
*.py[cod]

# macOS
*.DS_Store

# Vim swap
*.swp

# Virtual environments
/env/
/venv/

# MyPy cache
.mypy_cache/

# Build outputs
/build/
/site/

# Temporary scripts, tools and local docs
/temp/

# Optional: IDE settings
.vscode/
/.idea/
